@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(95, 175, 129), rgb(184, 223, 208));
    background-repeat: no-repeat;
}