<div class=container>
    <h6 id="route">{{ displayUrl }}</h6>
    <div class="data">
        <li *ngFor="let dir of info.directories">
            <div *ngIf="dir !== '/..'" (click)="getUpdir(dir)" class="directory">
                <i class="fas fa-folder" *ngIf="dir !== '/..'"></i> <label class="name">{{ dir }}</label>
                <a (click)='deleteFile(file)' class="delete">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </div>
            <div *ngIf="dir === '/..'" (click)="getDowndir(dir)" class="directory">
                <i class="fas fa-folder" *ngIf="dir !== '/..'"></i> <label class="name">{{ dir }}</label>
            </div>
        </li>
        <li *ngFor="let file of info.files" class="files">
            <i class="fas fa-file"></i> <label class="name" (click)='getFile(file)'>{{ file }}</label>
            <a (click)='deleteFile(file)' class="delete">
                <i class="fas fa-minus-circle"></i>
            </a>
        </li>
    </div>
</div>